//课程详情 course-detail.vue
.course-info{
	width: 700rpx;
	margin: 30rpx auto;
	.name{
		display: flex;
		justify-content: space-between;
		font-size: 35rpx;
		font-weight: bold;
	}
	.pic{
		width: 700rpx;
		height: 700rpx/16*9;
		border-radius: 20rpx;
		margin: 20rpx 0;
	}
	.card{
		width: 700rpx;
		height: 300rpx;
		background-color: #FFFFFF;
		border-radius: 20rpx;
		.validity{
			color: $uni-topic-dark;
			font-size: 25rpx;
			float:right;
			margin: 40rpx 30rpx;
		}
		.course{
			clear: right;
			display: flex;
			justify-content: space-between;
			margin: 35rpx;
			padding-bottom: 30rpx;
			border-bottom: 1rpx solid $uni-border-color;
			font-size: 25rpx;
			.cs-name{
				font-size: 28rpx;
				width: 300rpx;
			}
			.num{
				color: $uni-text-color-grey;
				font-size: 25rpx;
			}
			.price{
				text{
					font-size: 28rpx;
					font-weight: bold;
				}
			}
		}
		.stocksold{
			margin: 35rpx;
			display: flex;
			justify-content: space-between;
			font-size: 25rpx;
		}
	}
	.detail{
		width: 700rpx;
		height: 300rpx;
		background-color: #FFFFFF;
		border-radius: 20rpx;
		margin-top: 20rpx;
		.detail_title{
			padding: 30rpx;
			width: max-content;
			display: flex;
			font-size: 30rpx;
			font-weight: bold;
			color: $uni-topic-dark;
			margin: 0 auto;
		}
		.detail_content{
			padding: 0 40rpx;
			font-size: 28rpx;
		}
	}
}



.mana{
	background-color: #FFFFFF;
	width: 450rpx;
	height: 120rpx;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 300rpx;
	button{
		font-weight: bold;
		height: 70rpx;
		margin: auto 20rpx;
		width: 200rpx;
		font-size: 27rpx;
		letter-spacing: 10rpx;
		border-radius: 30rpx;
		text-align: center;
	}
	.edit{
		background-color: #FFFFFF;
		color: $uni-text-color-grey;
		border: 1px solid $uni-border-color;
	}
	.state{
		background-color: $uni-topic-color;
		color: #FFFFFF;
	}
}

//课程列表 course-list.vue
.content{
	width: 700rpx;
	margin: 20rpx auto;
	navigator{
		border-radius: 20rpx;
	}
	.add-course{
		position: fixed;
		width: 100rpx;
		height: 100rpx;
		border-radius: 50rpx;
		right: 40rpx;
		bottom: 40rpx;
		background-color: $uni-topic-color;
		box-shadow: 0 0 20px -5px $uni-border-color;
	}
	.course-item{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 230rpx;
		border-radius: 20rpx;
		background-color: #FFFFFF;
		padding: 20rpx 40rpx;
		margin-bottom: 20rpx;
		.top{
			display: flex;
			.course-pic{
				display: flex;
				width: 150rpx;
				height: 150rpx;
				margin: auto 0;
				border-radius: 20rpx;
			}
			.top-right{
				width: 400rpx;
				margin-left: 30rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.course-name{
					font-size: 32rpx;
					font-weight: bold;
					.course-price{
						font-size: 30rpx;
						color: $uni-topic-dark;
						font-weight: normal;
					}
				}
				.sold-stock{
					margin-top: 20rpx;
					font-size: 25rpx;
					color: $uni-text-color-grey;
				}
			}
			
		}
		.bottom{
			display: flex;
			justify-content: space-between;
			.edit{
				margin: auto 0 ;
				font-size: 27rpx;
			}
			
			switch{
				width: 90rpx;
				margin: auto 0;
				transform:scale(0.8);
			}
		}
	}
}

//课程编辑 course-edit.vue
.forms{
	.chooseImg{
		
	}
	.imgShow{
		width: 700rpx;
		height: 700rpx/16*9;
		border-radius: 20rpx;
	}
}
.submitForms{
	position: absolute;
	width: 750rpx;
	bottom: 0;
	right: 00rpx;
	border: 1px solid $uni-border-color;
	border-radius: 20rpx 20rpx 0 0 ;
	box-shadow: 3px 5px 25px $uni-border-color;

	.submit{
		float:right;
		width: 200rpx;
		font-size: 25rpx;
		border-radius: 30rpx;
		background-color: $uni-topic-color;
		color: $uni-bg-color-blue;
		margin: 30rpx;
	}
}
